*{
    margin: 0;
    padding: 0;
}
.ful-page{
    height: 700px ;
    /* border: 1px solid red; */
}
.navbar{
    height: 70px;
    width: 100%;
    border: 1px solid black;
    background-color: #131921;
    }
.left{
    display: flex;
}
.left h1{
    margin-top: 15px;
    margin-left: 15px;
    color: white;
    font-weight: 800;
}
.left p{
    margin-top: 30px;
    font-weight: 600;
    color: white;
}
.i2{
    display: flex;
}
.i2 i{
    margin-top: 35px;
    margin-left: 15px;
    color: white;
}
.i2 h4{
    margin-top: 40px;
    color: white;
    margin-left: 5px;
}
.i3{
    margin-top: 20px;
    margin-left: 10px;
    height: 30px;
    width: 30%;
    background-color: #febd69;
    border-radius: 8px;
}
.i3 :hover{
    border:1px solid  #febd69;

}
.i3 button{
    height: 31px;
    width: 15%;
    cursor: pointer;
}
.i3 input{
    height:28px ;
    width: 75%;
    border: none;
    outline: none;
    margin-left: -5px;
}
.i3 i{
    margin-left: 5px;
    cursor: pointer;
}
.right{
    display: flex;
}
.en{
    display: flex;
}
.en img{
    height: 20px;
    margin-top: 40px;
    margin-left: 40px;
}
.en h3{
    margin-top:45px ;
    margin-left: 8px;
    color:white;
    font-size: 14px;
}
.aco h4{
     margin-top: 24px;
     margin-left: 24px;
    color: white;
}
.aco h3{
    margin-left:24px ;
    color: white;
}
.ret h4{
    margin-top: 24px;
    margin-left: 24px;
    color: white;
}
.ret h3{
    margin-left: 24px;
    color: white;
}
.crt{
    display: flex;
}
.crt i{
    margin-top: 37px;
    margin-left: 35px;
    color: white;
}
.crt h3{
    margin-top: 37px;
    margin-left: 15px;
    color: white;
}
/* navbarcomplet */
/* secondnavstart */
.nav2{
    height: 50px;
    width: 100%;
    background-color: #232f3e;
}
.leftside{
    display: flex;
}
.leftside h3{
    margin-top: 20px;
    margin-left: 15px;
    color: white;
    font-size: 16px;
    font-weight: 800;
}
.al{
    display: flex;
}
.al i{
    margin-top: 20px;
    margin-left: 10px;
    color: white;
}
.rightside img{
    margin-top: 10px;
    margin-left: 15px;
}
.nav3{
    height: 40px;
    width: 100%;
    background-color: #fafafa;
    border: 1px solid rgb(230, 227, 227);
}
.nav3{
    display: flex;
}
.nav3 h4{
    margin-top: 15px;
    margin-left: 15px;
    opacity: 0.9;
    font-size: 16px;
    cursor: pointer;
}
.nav3 h4:hover{
    background-color: orange;
}
.m1page{
    /* border: 1px solid red; */
    height: 500px;
    width: 100%;
    display: flex;
}

.m1left h2{
    margin-top: 10px;
    margin-left: 10%;
    font-size: 22px;
    font-weight: 800;
    font-style: bold;
    cursor: pointer;
}
.m1left h3{
    margin-top: 10px;
    margin-left: 15%;
    font-weight: 900;
    cursor: pointer;
}
.m1left h4{
    margin-top: 10px;
    margin-left:20% ;
    cursor: pointer;
    opacity: 0.9;
}
.m1left h4:hover{
    color: rgb(179, 117, 4);
}
.m2left h3{
 margin-top: 20px;
 margin-left: 8%;
 font-weight: 900;
 cursor: pointer;
}
.m2left input{
    margin-left: 10%;
    margin-top: 10px;
    cursor: pointer;
}
.m2left label{
    font-size: 16px;
    font-weight: 600;
    opacity: 0.9;
    margin-left: 6px;
}
.m2left label:hover{
    color: rgb(179, 117, 4);;
}
.m3right{
    height:700px;
    width: 100%;
    border: 1px solid black;
    background-image:url("https://m.media-amazon.com/images/I/81LhuBQhrAL._SX3000_.jpg");
    background-size: contain;
}
.amn{
    background-color: white;
    height: 380px;
    width: 23%;
    /* border: 1px  solid red; */
    margin-top: 17%;
    margin-left:18px;
}
.amn h3{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 26px;
    font-weight: bolder;
}
.amn img{
    width: 80%;
    height: 250px;
    margin-top:4%;
    margin-left: 27px;
}
.amn h1{
    margin-top: 10px;
    margin-left: 10%;
    font-size: 14px;
    color: rgb(50, 50, 250);
    cursor: pointer;
}

.vip23{
    display: flex;
    /* margin-left: 10%; */
}
#m3right>img{

    
}
span{
    margin-top: 20px;
    margin-left: -92px;

}
.vip23> h4{
    margin-left:100%;
    /* margin-left: 10%; */
}
.c10{
    margin-left: 30%;
}
.m10> img{
    margin-left: 10%;
    height: 230px;
    width:100%;
    /* display: flex; */
    flex-wrap: nowrap;
    justify-content: space-between;
    /* margin-left: 20px; */
}
.vip23 > p{
     margin-top: 22%;
     margin-left:-10%;
}
#m3right{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 5%;
    /* width: 100%; */
    /* height: 300px; */
    /* justify-content: space-between; */
    /* text-align: center; */
}
/* .amn2{
    background-color: white;
    height: 380px;
    width: 23%;
    /* border: 1px  solid red; */
    /* margin-top: 17%;
    margin-left:18px;
}
.amn2 h1{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 24px;
    font-weight: bolder;
}
.m10{
    display: flex;
}
.m10 img{
    height: 100px;
    width: 35%;
    margin-top: 8px ;
    margin-left: 30px;
}
.hh6{
    display: flex;
}
.hh6 h5{
    margin-top: 5px;
    margin-left: 20px;
    opacity: 0.8;
}
.amn2 h4{
    margin-top:4px;
    margin-left: 15px;
    color: rgb(50, 50, 250) ;
    font-size: 12px;
    cursor: pointer;
}
.m11 {
    display: flex;
}
.m11 img{
    height: 100px;
    width: 35%;
    margin-top: 8px ;
    margin-left: 30px;
}
.amn3{
    background-color: white;
    height: 380px;
    width: 23%;
    /* border: 1px  solid red; */
.amn3 h1{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 26px;
    font-weight: bolder;
}
.m12{
    display: flex;
}
.m12 img{
    height: 100px;
    width: 35%;
    margin-top: 8px ;
    margin-left: 30px;
}
.m13{
    display: flex;
}
.m13 img{
    height: 100px;
    width: 35%;
    margin-top: 8px ;
    margin-left: 30px;
}
.amn3 h4{
    margin-top: 10px;
    margin-left: 10%;
    font-size: 14px;
    color: rgb(50, 50, 250);
    cursor: pointer;
}
.hh5{
    display: flex;
}
.hh5 h5{
    margin-top: 5px;
    margin-left: 40px;
    opacity: 0.8;
}
.amn4{
    background-color: white;
    height: 150px;
    width: 23%;
    /* border: 1px  solid red; */
    margin-top: 17%;
    margin-left:18px;
}
.amn4 h1{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 26px;
    font-weight: bolder;
}
.amn4 button{
    margin-top: 20px;
    margin-left: 10%;
    height:30px;
    width: 80%;
    border-radius: 8px;
    background-color: #ffd814;
    border: none;
    outline: none;
    opacity: 0.9;
}
.amn4 img{
    margin-top: 15%;
    margin-left: 2%;
    height: 200px;
    width: 100%;
} 
.mm-right{
    /* border: 1px solid black; */
    width: 20%;
}
.righth1 >h1{
    font-size: 20px;
    /* font-family:'Courier New', Courier, monospace; */
    margin-left: 15px;
    margin-top: 10px;
}
.right2{
    display: flex;
    margin-left: 15px;
    margin-top: 5px;
}
.right2 >h2{
    font-size: 16px;
    margin-left: 5px;
    font-weight: 400;

}
.t20{
    margin-left: 15px;
    margin-top: 20px;
}
.t20 >h1{
    font-size: 20px;
    /* font-family:'Courier New', Courier, monospace; */
    /* margin-left: 15px; */
    margin-top: 10px;
}
.t21{
    margin-top:10px;
    margin-left: 15px;

}
.t21>h2{
    font-size: 16px;
    /* margin-left: 5px; */
    font-weight: 400;
}
.t22{
    margin-top: 15px;
    margin-left: 10px;
}
.t22>h2{
    margin-top: 10px;
    font-size: 17px;
    
}
.m23{
    margin-top: 10px;
    margin-left: 15px;
    display: flex;
}
.m23>i{
/* background-color: #febd69; */
color: #febd69;
}
.v12>h1{
    font-size: 20px;
    /* font-family:'Courier New', Courier, monospace; */
    margin-left: 15px;
    margin-top: 10px;
}
.v14{
    display: flex;
    margin-left: 15px;
    margin-top: 5px;
}
.v14>h2{
    font-size: 16px;
    margin-left: 5px;
    font-weight: 400;
}
.divImg >img{
    margin-top: 40%;
    margin-left: 3px;
}


